# Author: **Juli√°n Ramos**
  
## Topic: **Python Sets**
  
**Description:** This notebook applies basic operations with Python sets, such as converting lists to sets to remove duplicates, checking set properties, and performing set operations like union and subset checking.

In [ ]:
# Transform the list ['rap','house','electronic music', 'rap'] into a set
music_list = ['rap', 'house', 'electronic music', 'rap']
music_set = set(music_list)
print(music_set)

In [ ]:
# Given a list A with duplicates and a set B with the same elements
A = [1, 2, 2, 1]  # This list contains duplicate values (1 and 2 appear twice)
B = set([1, 2, 2, 1])  # The set automatically removes duplicates

print("A:", A)
print("B:", B)  # No duplicates are allowed in a set

# Sum of all elements in the list A
print("Sum of A:", sum(A))  # Counts all elements, including duplicates

# Sum of all elements in the set B
print("Sum of B:", sum(B))  # Only counts each unique element once

# The set has fewer elements because duplicates are removed

In [ ]:
# Create a new set album_set3 that is the union of album_set1 and album_set2
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set(["AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3 = album_set1.union(album_set2)
print(album_set3)

In [ ]:
# Check if album_set1 is a subset of album_set3
print(album_set1.issubset(album_set3))