# Author: **Julián Ramos**
  
## Topic: **Python Practice Exercises — Bonus**
  
**Description:** This notebook solves a series of small Python problems, from simple conditionals to string manipulations.

In [1]:
# MENOR DE DOS PARES:
# Return the smaller of two numbers if both are even.
# If one or both are odd, return the larger.
def lesser_of_two_evens(a, b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a, b)
    else:
        return max(a, b)

# Tests
print(lesser_of_two_evens(2, 4))
print(lesser_of_two_evens(2, 5))

2
5

In [3]:
# ANIMAL CRACKERS:
# Version using find():
# - Find the position of the space that separates the two words.
# - Compare the first letter of each word.


def animal_crackers(text):
    espacio = text.find(" ")
    return text[0].lower() == text[espacio + 1].lower()

# Tests
print(animal_crackers('Ciudad Calor'))
print(animal_crackers('Lugar Frio'))

True
False

In [5]:
# HACE VEINTE:
# Return True if sum of integers is 20 or if one of them is 20.
def makes_twenty(n1, n2):
    return (n1 + n2 == 20) or (n1 == 20 or n2 == 20)

# Tests
print(makes_twenty(20, 10))
print(makes_twenty(12, 8))
print(makes_twenty(2, 3))

True
True
False

In [6]:
# MAYÚSCULAS (old_macdonald):

def old_macdonald(name):
    if len(name) >= 4:  # at least 4 characters
        chars = list(name)
        chars[0] = chars[0].upper()
        chars[3] = chars[3].upper()
        return ''.join(chars)

# Test
print(old_macdonald('macdonald'))

MacDonald

In [7]:
# REVERSE
# Given a sentence, return it reversed word-by-word.
def master_yoda(text):
    return ' '.join(text.split()[::-1])

# Tests
print(master_yoda('I am home'))
print(master_yoda('We are ready'))

home am I
ready are We

In [10]:
# Return True if the list contains a 3 next to a 3 (adjacent).
def has_33(nums):
    for i in range(len(nums) - 1):
        if nums[i] == 3 and nums[i + 1] == 3:
            return True
    return False

# tests
print(has_33([1, 3, 3]))
print(has_33([1, 3, 1, 3]))
print(has_33([3, 1, 3]))

True
False
False

In [11]:
# For each character in the input string, repeat it 3 times.
def paper_doll(text):
    return ''.join(ch * 3 for ch in text)

# tests
print(paper_doll("Hello"))
print(paper_doll("Mississippi"))

HHHeeellllllooo
MMMiiissssssiiissssssiiippppppiii

In [13]:
# BLACKJACK:
# Given three integers (1–11), return their sum if <= 21.
# If the sum exceeds 21 and there is an 11, reduce the total by 10 once.
# If it still exceeds 21, return 'BUST'.
def blackjack(a, b, c):
    total = a + b + c
    if total <= 21:
        return total
    if 11 in (a, b, c):
        total -= 10
    return total if total <= 21 else 'BUST'

# tests
print(blackjack(5, 6, 7))    # 18
print(blackjack(9, 9, 9))    # BUST
print(blackjack(9, 9, 11))   # 19 (29 -> minus 10)

18
BUST
19