# Author: **Juli√°n Ramos**

# ID: **20529240**
  
## Topic: **Python Tuples**
  
**Description:** This notebook practices basic operations with Python tuples, including creation, indexing, slicing, concatenation, nested tuples, and working with functions such as `len()` and `sorted()`.

In [1]:
# Create a tuple named tuple1 containing the elements: "disco", 10, 1.2
tuple1 = ("disco", 10, 1.2)
print(tuple1)

('disco', 10, 1.2)

In [2]:
# Print the second element of tuple1 (index 1)
print(tuple1[1])

10

In [3]:
# Print the first three elements of tuple1 using slicing
print(tuple1[0:3])

('disco', 10, 1.2)

In [4]:
# Concatenate tuple1 with another tuple containing "hard rock" and 10
tuple2 = tuple1 + ("hard rock", 10)
print(tuple2)

('disco', 10, 1.2, 'hard rock', 10)

In [5]:
# Slice the first two elements of tuple2
print(tuple2[0:2])

('disco', 10)

In [6]:
# Create a tuple with ratings
Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)
print(Ratings)

(0, 9, 6, 5, 10, 8, 9, 6, 2)

In [7]:
# Sort the tuple Ratings
RatingsSorted = sorted(Ratings)
print(RatingsSorted)

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [8]:
# Create a nested tuple containing music genres and album details
NestedT = (("pop", "rock"), ("disco", (10, 20)))
print(NestedT)

(('pop', 'rock'), ('disco', (10, 20)))

In [9]:
# Access the second genre in the first nested tuple ("rock")
print(NestedT[0][1])

rock

In [10]:
# Access the second genre in the first nested tuple ("rock")
print(NestedT[0][1])

rock